////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Repo:           hcl
//  File Name:      terraform.tfvars.example
//  Author:         Patrick Gryzan
//  Company:        Hashicorp
//  Date:           June 2020
//  Description:    This is the overriding sensitive variables file for the terraform project
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  AWS Credentials
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
aws                 = {
    access_key      = ""
    secret_key      = ""
    region          = ""
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//  SSH Credentials
//
//  key_name - The name of the public SSH key in AWS
//  private_key - The absulute path to your private SSH key
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
ssh                 = {
    key_name        = ""
    private_key     = ""
}